{% extends "base.html" %}

{% block content %}

  <div class="main-content-wrapper">
    <main class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <h1>Documentation Links</h1>
            <p>
              See the <a href="/documentation" target="_blank">Help Documentation</a> for
              guidance on using SimCCS and the Map Tool.
            </p>
          </div> 
        </div>
      </div> <!-- container-fluid -->
    </main>
  </div>


{% endblock content %}
