{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/MarkerCluster.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/MarkerCluster_Default.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.extra-markers.min.css' %}" />

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css" />

<style type="text/css">
      #map{
      /*margin-left: 20px;*/
      /*margin-top: 60px;*/
      /*margin-top: 60px;*/
      width:99%;
      height:100% ;
      }
      .main-content {
            max-width: initial;
      }
      .container-fluid, .main-row {
            height: 100%;
      }
      .card {
            margin-bottom: 0px;
      }
      /* Allow vertical scrolling of sidebar if not enough room on screen */
      .main-row > .col-md-3 {
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
      }
</style>
{% endblock css %}

{% block scripts %}
<script src="{% static 'js/leaflet.js' %}"></script>
<script src="{% static 'js/leaflet.markercluster-src.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js"></script>
<script src="{% static 'js/leafletMap.js' %}" ></script>
<script src="{% static 'django_airavata_api/dist/airavata-api.js' %}"></script>
<script src="{% static 'js/etagapi.js' %}"></script>
<script src="{% static 'js/leaflet.extra-markers.min.js' %}"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

<script>
//function for time slider
$(function() {
    $( "#slider-range" ).slider({
      range: true,
      min: new Date('2010-01-01').getTime() / 1000,
      max: new Date('2014-01-01').getTime() / 1000,
      step: 86400,
      values: [ new Date('2010-01-01').getTime() / 1000, new Date('2014-01-01').getTime() / 1000 ],
      slide: function( event, ui ) {
        $( "#amount" ).val( (new Date(ui.values[ 0 ] *1000).toISOString().split("T",1) ) + " - " + (new Date(ui.values[ 1 ] *1000)).toISOString().split("T",1) );
      }
    });
    $( "#amount" ).val( (new Date($( "#slider-range" ).slider( "values", 0 )*1000).toISOString().split("T",1)) +
      " - " + (new Date($( "#slider-range" ).slider( "values", 1 )*1000)).toISOString().split("T",1));
  });

         // TODO: replace with global user session object
         var userIsAuthenticated = {{ request.user.is_authenticated|yesno:"true,false" }};
         //var userIsAuthenticated = true;
         $(document).ready(function() {
            //empty selector 
            $('#species_selector').empty();
            var animals_array = Array.from(list_of_animal);
            for (var i = 0;i<animals_array.length;i++) {
                  $('#species_selector').append('<option value="' + animals_array[i] + '">' + animals_array[i] + '</option>');
            }
            $('#tag_selector').empty();
            var tag_array = Array.from(list_of_tag);
            for (var i = 0;i<tag_array.length;i++) {
                  $('#tag_selector').append('<option value="' + tag_array[i] + '">' + tag_array[i] + '</option>');
            }

         });
         // end of doucment ready function
         

function extract_reader_location(reader_id) {
      // find location_id
      var location_id = -1;
      var start_time,end_time
      for (var i in reader_locations_data["results"]) {
            if (reader_id == reader_locations_data["results"][i]['reader_id']){
                  location_id = reader_locations_data["results"][i]['location_id'];
                  start_time = reader_locations_data["results"][i]['start_timestamp'];
                  end_time = reader_locations_data["results"][i]['end_timestamp'];
                  break;
            }
      }
      var reader_latitude, reader_longitude;
      for (var i in locations_data["results"]) {
            if (location_id == locations_data["results"][i]['location_id']){
                  reader_latitude = locations_data["results"][i]['latitude'];
                  reader_longitude = locations_data["results"][i]['longitude']
                  break;
            }
      }
      //alert(reader_longitude+","+reader_latitude);
      return [reader_latitude, reader_longitude,start_time,end_time]
}      

//var readers_marker = L.featureGroup();
var readers_marker = L.markerClusterGroup();

function display_etag_data(datatype) {
      //datatype:reader_locations, tag_reads 
      //readers_marker = L.featureGroup();
      clear_map();
      readers_marker.clearLayers();
      if (datatype == "reader_locations") {
            var reader_id, reader_desc, reader_lat,reader_lon,reader_s_time,reader_e_time;
            var popinfo;
            for (var i=0; i<readers_data['count']; i++) {
                  reader_id = readers_data['results'][i]['reader_id'];
                  reader_desc = readers_data['results'][i]['description'];
                  [reader_lat, reader_lon,reader_s_time,reader_e_time]= extract_reader_location(reader_id);
                  popinfo = '<p style="font-size:16px"><strong>Reader ID: </strong>' + reader_id + "<br>";
                  popinfo += "<strong>Description: </strong>" + reader_desc + "<br>";
                  popinfo += "<strong>Start Timestamp: </strong>" + reader_s_time + "<br>";
                  popinfo += "<strong>End Timestamp: </strong>" + reader_e_time + "<br>";
                  popinfo +="</p>";
                  reader_id = '';
                  L.marker([reader_lat,reader_lon]).bindPopup(popinfo).addTo(readers_marker);
            }
      map.addLayer(readers_marker);
      map.fitBounds(readers_marker.getBounds(),{maxZoom:10});
      }
      if (datatype == "tag_reads") {
            var optionValue = $("input[name='opt_displaytype']:checked").val();
            if (optionValue == "tag_summaries"){
                  var tagicon = L.ExtraMarkers.icon({
                        shape: 'square',
                        markerColor: 'cyan',
                        prefix: 'fas',
                        icon: 'fa-binoculars',
                        iconColor: 'white',
                        iconRotate: 0,
                        svg: false
                  });
                  var tag_id, reader_id,reader_lat,reader_lon,pop_info;
                  for (var i=0; i<tag_reads['count']; i++) {
                        reader_id = tag_reads['results'][i]['reader_id'];
                        tag_id = tag_reads['results'][i]['tag_id'];
                        //[reader_lat, reader_lon,reader_s_time,reader_e_time]= extract_reader_location(reader_id);
                        [reader_lat, reader_lon]=reader_location_dict[reader_id];
                        popinfo = '<p style="font-size:16px"><strong>Tag ID: </strong>' + tag_id + "</p>";
                        popinfo += "<strong>Reader ID</strong>: " + tag_reads['results'][i]['reader_id']+ "<br>";
                        popinfo += "<strong>Read Time</strong>: " + tag_reads['results'][i]['tag_read_time']+ "<br>";
                        popinfo += "<strong>Public</strong>: " + tag_reads['results'][i]['public'] + "<br>";
                        popinfo += "<strong>Accessory Data</strong>:"+ "<br>";
                        popinfo += "<ul>";
                        popinfo += "<li>HUMIDITY: "+tag_reads['results'][i]['accessory_data']['HUMIDITY']+"</li>";
                        popinfo += "<li>SOLAR_RADIATION: "+tag_reads['results'][i]['accessory_data']['SOLAR_RADIATION']+"</li>";
                        popinfo += "<li>TEMPERATURE: "+tag_reads['results'][i]['accessory_data']['TEMPERATURE']+"</li>";
                        popinfo += "</ul>";
                        reader_id = '';
                        tag_id = '';
                        L.marker([reader_lat,reader_lon],{icon: tagicon}).bindPopup(popinfo).addTo(readers_marker);
                  }
                  map.addLayer(readers_marker);
                  map.fitBounds(readers_marker.getBounds(),{maxZoom:10});
            }
            if (optionValue == "raw_tag_reads"){
                  var rawtagicon = L.ExtraMarkers.icon({
                        shape: 'square',
                        markerColor: 'cyan',
                        prefix: 'fa',
                        icon: 'fa-paw',
                        iconColor: 'white',
                        iconRotate: 0,
                        svg: false
                        });
                  var tag_id, reader_id,reader_lat,reader_lon,popinfo,animal_id,animal_species;
                  for (var i=0; i<tag_animals_data['results'].length; i++) {
                        tag_id = tag_animals_data['results'][i]['tag_id'];
                        //reader_id = tagid_readerid_dict[tag_id];
                        reader_id = "TU109876";
                        animal_id = tag_animals_data['results'][i]['animal_id'];
                        if (animal_id in animailid_species_dict) {
                              animal_species = animailid_species_dict[animal_id];}
                        else {animal_species = "Unknown";}
                        
                        popinfo = "<h4><strong>"+animal_species+"</strong></h4>" + "<br>";
                        popinfo += "<strong>Field Data</strong>:"+ "<br>";
                        popinfo += "<ul>";
                        for (var prop in tag_animals_data['results'][i]['field_data']){
                              popinfo += "<li><strong>" +prop +"</strong>: " +tag_animals_data['results'][i]['field_data'][prop] + "</li>";
                        };
                        popinfo += "</ul>";

                        [reader_lat, reader_lon]=reader_location_dict[reader_id];
                        L.marker([reader_lat,reader_lon],{icon: rawtagicon}).bindPopup(popinfo).addTo(readers_marker);

                  }
                  map.addLayer(readers_marker);
                  map.fitBounds(readers_marker.getBounds(),{maxZoom:10});
            }

      }

}

$(function() {
    $('input[name=optradio]').change(function(e) {
      display_etag_data(this.id);
      });
});

$(function() {
    $('input[name=opt_displaytype]').change(function(e) {
      var optionValue = $("input[name='optradio']:checked").val();
      if (optionValue == "tag_reads") 
            {display_etag_data('tag_reads');}
      });
});

function apply_filters() {
      clear_map();
      readers_marker.clearLayers();

      //var species_filter_list = [];
      //var tag_filter_list = [];
      var species_filter = $('#species_selector').val();
      var tag_filter = $('#tag_selector').val();
      var rawtagicon = L.ExtraMarkers.icon({
            shape: 'square',
            markerColor: 'cyan',
            prefix: 'fa',
            icon: 'fa-paw',
            iconColor: 'white',
            iconRotate: 0,
            svg: false
            });
      var tag_id, reader_id,reader_lat,reader_lon,popinfo,animal_id,animal_species;
      for (var i=0; i<tag_animals_data['results'].length; i++) {
            tag_id = tag_animals_data['results'][i]['tag_id'];
            //reader_id = tagid_readerid_dict[tag_id];
            reader_id = "TU109876";
            animal_id = tag_animals_data['results'][i]['animal_id'];
            if (animal_id in animailid_species_dict) {
                  animal_species = animailid_species_dict[animal_id];}
            else {animal_species = "Unknown";}
            
            if (species_filter != null) {
                  if (! species_filter.includes(animal_species)) {
                        continue;}}
            if (tag_filter != null) {
                  if (! tag_filter.includes(tag_id)) {
                        continue;}}
            popinfo = "<h4><strong>"+animal_species+"</strong></h4>" + "<br>";
            popinfo += "<strong>Field Data</strong>:"+ "<br>";
            popinfo += "<ul>";
            for (var prop in tag_animals_data['results'][i]['field_data']){
                  popinfo += "<li><strong>" +prop +"</strong>: " +tag_animals_data['results'][i]['field_data'][prop] + "</li>";
            };
            popinfo += "</ul>";

            [reader_lat, reader_lon]=reader_location_dict[reader_id];
            L.marker([reader_lat,reader_lon],{icon: rawtagicon}).bindPopup(popinfo).addTo(readers_marker);

      }
      map.addLayer(readers_marker);
      map.fitBounds(readers_marker.getBounds(),{maxZoom:10});
}

function clear_map() {
      map.eachLayer(function (layer) {
            //keep the basemap layer
            if (layer != osm) {map.removeLayer(layer);};
            });
}
</script>
{% endblock scripts %}

{% block content %}
<div class="main-content-wrapper">
    <main class="main-content">
      <div class="container-fluid">
      <!--<link rel="stylesheet" href="{% static 'css/mapTool.css' %}" type="text/css" />-->
      <div class="row main-row">
      <div class="col-md-3">
            <!--<div class="col-md-3  sidebar">-->
                  <div class="panel-group" id="allmap">
                        <div><center><h4>ETAG Data Portal</h4></center></div>
                  <div class="card border-info">
                        <div class="card-header bg-info text-light">
                              <strong>Display Data</strong>
                        </div>
                        <div class="card-body" >
                              <section>  <strong>Data Type</strong>
                                    <ul style="list-style-type:none;padding:0;"><li>
                                    <div class="radio">
                                    <label><input type="radio" name="optradio" id="reader_locations" value="reader_locations" checked=checked> Reader locations</label>
                                    </div></li><li>
                                    <div class="radio">
                                    <label><input type="radio" name="optradio" id="tag_reads" value="tag_reads"> Tag reads</label>
                                    </div></li>
                                    </ul>
                              </section>
                              <section>  <strong>Display Type</strong>
                                    <ul style="list-style-type:none;padding:0;"><li>
                                    <div class="radio">
                                    <label><input type="radio" name="opt_displaytype" value="tag_summaries" id="tag_summaries" checked=checked> Summaries</label>
                                    </div></li><li>
                                    <div class="radio">
                                    <label><input type="radio" name="opt_displaytype" value="raw_tag_reads" id="raw_tag_reads"> Raw tag reads</label>
                                    </div></li>
                                    <!-- <li>
                                    <div class="radio">
                                    <label><input type="radio" name="opt_displaytype" value="raw_tag_time_series" id="raw_tag_time_series"> Raw tag time series</label>
                                    </div>
                                    </li> -->
                                    </ul>
                              </section>
                        </div>
                  </div>
                  <div class="card border-info">
                        <div class="card-header bg-info text-light">
                              <strong>Data Filters</strong>
                        </div>
                        <div class="card-body" >
                                    <strong>Species</strong>
                                    <select class="selectpicker" id="species_selector" title="Choose one or more..." data-live-search="true" multiple data-actions-box="true">
                                                <option>Cardinal</option>
                                                <option>Blue Jay</option>
                                                <option>Chickadee</option>
                                                <option>Titmouse</option>
                                                <option>Sparrow</option>
                                                <option>Finch</option>
                                                <option>Others</option>
                                              </select>
                                    <br><strong>Tag ID</strong>
                                              <select class="selectpicker" id="tag_selector" title="Choose one or more..." data-live-search="true" multiple data-actions-box="true">
                                                <option>620000620</option>
                                                <option>620000731</option>
                                                <option>06200005BA</option>
                                                <option>TDP000064D</option>
                                                </select>
                                    <br><strong>Data Privacy</strong>
                                                <select class="selectpicker" id="data_privacy" title="User only">
                                                  <option>User only</option>
                                                  <option>All data</option>
                                                  </select>
                                    <br><strong>Date</strong><input type="text" id="amount" style="border: 0; font-weight: bold;" size="40"/><br>
                                    <div id="slider-range"></div><br>
                                    <button type="button" class="btn btn-primary btn-sm btn-block" onclick="apply_filters()">Apply Filters</button>
                                    </div>
                  </div>
                  </div>
               </div>

               <div class="col-md-9">
                  <div id="map"></div>
               </div>
            </div>
            </main>
         </div>

{% endblock content %}
